body {
    background: #000000;
    color: #ffffff;
}

input {
    background: #000000;
    color: #ffffff;
    border-color: #222222;
}

select {
    background: #000000;
    color: #ffffff;
    border-color: #222222;
}


.button {
    border-style: solid;
    border-color: #222222;
    background: #000000;
    text-decoration: none;
}

.form-container {
    background: #333333;
    color: #ffffff;
}

.mainfilecontainer {
    background: #222222;
    color: #ffffff;
}

.individualfile {
    background: #444444;
    color: #ffffff;
}
