html {
    background-color: #444444;
    background-image: linear-gradient(180deg, #000000, #444444);
    background-repeat: no-repeat;
}

body {
    color: #ffffff;
}


.button {
    background: #ffffff;
    border-style: solid;
    color: #000000;
    text-decoration: none;
}

.form-container {
    border-style: solid;
    border-color: #555555;
    border-width: 5px;
    background: #000000;
    color: #ffffff;
}

.mainfilecontainer {
    background: #222222;
    color: #ffffff;
}

.individualfile {
    background: #444444;
    color: #ffffff;
}
